@{
    ViewData["Title"] = "Home Page";
    //Layout = "_Layout2";
}
@model WebApplication8.Models.HomeViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    安安你好~~~ @(ViewBag.myName)好帥~~~ 永遠的~@(ViewBag.age)
    <br />
    這是ViewBag=>@ViewBag.myName
    <br />
    <!-- 
        這是ViewData=>@ViewData["myName"]
        -->

    @*
    <p>這是p段落，名字是@(Model.Name)，年齡@(Model.Age)</p>
    *@
        

</div>
