@model List<Product>;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@foreach(var p in Model)
{
    <a asp-area="" asp-controller="Product" asp-action="GetProduct" asp-route-id="@p.Id">
            @($"{p.Id} - {p.Name} -{p.Price}")</a>
    <br />
}
