@model Product;

<form asp-action="AddProduct">
    <input type="hidden" asp-for="Id" />
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label asp-for="Price"></label>
    <input type="text" asp-for="Price" />
    <span asp-validation-for="Price" class="text-danger"></span>

    <input type="submit" value="送出" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}